VITE_API_URL=http://localhost:8000

VITE_FIREBASE_API_KEY=AIzaSyD5I3dLLVhkGnI7EZBIiDRcO39x_r03_Os
VITE_FIREBASE_AUTH_DOMAIN=documind-ai-88e8e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=documind-ai-88e8e
VITE_FIREBASE_STORAGE_BUCKET=documind-ai-88e8e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=798597473545
VITE_FIREBASE_APP_ID=1:798597473545:web:e4c20a74504642d3fcdfd8